@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="recursos" style="margin-top:85px" class="caixa">
    <!--RECURSOS-->
    <div style="background-color:rgb(225,225,225, 0.5); color:black;">
        <h1>Conheça nossos destinos</h1>
        <br />
        <h4>Os melhores destinos você encontra aqui na RecodeAirline</h4>
        <hr />
        <div class="row">
            <span class="col-md-1"></span>
            <div class="col-md-2 pt-5">
              
                <img src="../img/pacote3.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                 <h2>Miami</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
              
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
              <h2>Ceará</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
                
                <img src="../img/viag1.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Ipanena - RJ</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Recife</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Argentina</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>
        </div>

       <div class="row">
            <span class="col-md-1"></span>
            <div class="col-md-2 pt-5">
              
                <img src="../img/viag1.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                 <h2>Miami</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
              
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
              <h2>Ceará</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
                
                <img src="../img/viag.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Ipanena - RJ</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/viag1.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Recife</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/pacote2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Gotham city</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>
        </div>




       <div class="row">
            <span class="col-md-1"></span>
            <div class="col-md-2 pt-5">
              
                <img src="../img/viag1.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                 <h2>EUA</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
              
                <img src="../img/pacote3.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
              <h2>Praga</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
                
                <img src="../img/viag.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Grécia</h2>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/pacote2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Parana</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-2 pt-5">
               
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <h2>Crypton</h2>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>
        </div>
        <span class="col-md-1"></span>
    </div>
</section>