@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section id="recursos" style="margin-top:85px" class="caixa">
    <!--RECURSOS-->
    <div style="background-color:rgb(225,225,225, 0.5); color:black;" class="container">
        <h1>Area de promoções</h1>
        <br />
        <h4>As melhores ofertas</h4>
        <hr />
        <div class="row">
            <div class="col-md-4 pt-5">
                <h2>Miami</h2>
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <p>
                    <strong>De:</strong> <s>$9.500,00.</s><br />
                    <strong>Por:</strong>$7.800,00.<br />
                    Parcelas em até 36X sem juros!
                </p>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-4 pt-5">
                <h2>Rio de Janeiro</h2>
                <img src="../img/viag.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <p>
                    <strong>De:</strong> <s>$3.500,00.</s><br />
                    <strong>Por:</strong>$2.800,00.<br />
                    Parcelas em até 36X sem juros!
                </p>
                <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block  mt-2" href="#" role="button">Venha conferir</a></p>
            </div>

            <div class="col-md-4 pt-5">
                <h2>Recife</h2>
                <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                <p>
                    <strong>De:</strong> <s>$1.500,00.</s><br />
                    <strong>Por:</strong>$800,00.<br />
                    Parcelas em até 36X sem juros!
                </p>rcelas em até 36X sem juros
                </p>
                <p><a style="background:#394761 ; width:200px" class="btn btn-lg btn-primary  d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2>Frânça</h2>
                    <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$1.500,00.</s><br />
                        <strong>Por:</strong>$800,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
                </div>

                <div class="col-md-4 pt-5">
                    <h2>Gotham city</h2>
                    <img src="../img/viag.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$8.000,00.</s><br />
                        <strong>Por:</strong>$1.000,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p>Desconto especial se for filho de Marta.</p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>

                </div>

                <div class="col-md-4 pt-5">
                    <h2>Argentina</h2>
                    <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$1.500,00.</s><br />
                        <strong>Por:</strong>$800,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2>Aldeia da folha</h2>
                    <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$1.500,00.</s><br />
                        <strong>Por:</strong>$800,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
                </div>

                <div class="col-md-4 pt-5">
                    <h2>Crypton</h2>
                    <img src="../img/viag.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$1.500.000,00.</s><br />
                        <strong>Por:</strong>$200.800,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>

                </div>

                <div class="col-md-4 pt-5">
                    <h2>Argentina</h2>
                    <img src="../img/viag2.jpg" class="img-fluid d-none d-sm-none d-md-block rounded">
                    <p>
                        <strong>De:</strong> <s>$1.500,00.</s><br />
                        <strong>Por:</strong>$800,00.<br />
                        Parcelas em até 36X sem juros!
                    </p>
                    <p><a style="background:#394761; width:200px" class="btn btn-lg btn-primary d-md-inline-block d-sm-block mt-2" href="#" role="button">Venha conferir</a></p>
                </div>

            </div>
        </div>
    </div>
</section>
