/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

*[b-46pctnkmr4] {
    font-family: HindMBold;
}

body #bg[b-46pctnkmr4] {
    background: url(../img/bgg.jpg) no-repeat;
    background-attachment: fixed;
}

a.navbar-brand[b-46pctnkmr4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

#servicos .col-md-6 img:hover[b-46pctnkmr4] {
    border: 1px solid green;
}

.form-group[b-46pctnkmr4]{
    display:inline-block;
    width:50%;
}
#msg-prog[b-46pctnkmr4]{
    display:inline-block;
    position:relative;
}

a[b-46pctnkmr4] {
    color: dimgrey;
}

    .btn-primary[b-46pctnkmr4] {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

.nav-pills .nav-link.active[b-46pctnkmr4], .nav-pills .show > .nav-link[b-46pctnkmr4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-46pctnkmr4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-46pctnkmr4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-46pctnkmr4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-46pctnkmr4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-46pctnkmr4] { 
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: white;
 
}

footer[b-46pctnkmr4] {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4[b-46pctnkmr4] {
        color: #919496;
        font-size: 0.8em;
        text-transform: uppercase;
    }
.footer .navbar-nav a[b-46pctnkmr4] {
    font-size: 0.8em;
    color:black;
}

.footer .navbar-nav a:hover[b-46pctnkmr4] {
            color: #9bf0e1;
            font-size: 0.8em;
            text-decoration: none;
        }

.footer ul[b-46pctnkmr4] {
        list-style: none;
    }

.footer ul li[b-46pctnkmr4] {
            float: right;
            margin: 0 15px;
        }
