html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body #bg {
        background: url(../img/bgg.jpg) no-repeat;
        background-attachment: fixed;
    }

{
   
}

.navbar-nav a:active, a:hover, a:focus {
    text-decoration: 4px yellow underline;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

footer {
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}

    footer h4 {
        color: #919496;
        font-size: 0.8em;
        text-transform: uppercase;
    }

.footer .navbar-nav a {
    font-size: 0.8em;
    color: black;
}

    .footer .navbar-nav a:hover {
        color: #9bf0e1;
        font-size: 0.8em;
        text-decoration: none;
    }

.footer ul {
    list-style: none;
}

    .footer ul li {
        float: right;
        margin: 0 15px;
    }
